
<header class="header-mb">
  <div class="header-top-mb">
            <span class="title">
              suaghematxa.com
              <a href="tel:0989890248" class="liveeventmb" >
                 <i class="fa fa-phone phone-mb ">
               </i>
                 <span class="text-mb">
                     09.89.89.0248
                 </span>
             </a>
            </span>

            <div class="menu-mb">
                <div class="icon-menu"></div>
            </div>
            <nav class="subnav">
                <div class="navigation mb">
                    <ul class="list-danh-muc">
                       <li>
                         <a href="/" title=""><i class="fa fa-home"></i>Trang chủ</a>

                       </li>

                       <li class="active">
                         <a title=""><i class="fa fa-cog"></i>Dịch vụ sửa chữa</a>
                         <ul class="sub-list">
                           <li>
                              <a href="/sua-ghe-massage" title="Sửa ghế massage"><i class="fa fa-angle-right"></i>Sửa ghế massage</a>
                           </li>
                           <li>
                              <a href="/thay-da-ghe-massage" title="Thay da ghế massage"><i class="fa fa-angle-right"></i>Thay da ghế massage</a>
                           </li>
                           <li>
                              <a href="/boc-da-ghe-massage" title="Bọc da ghế massage"><i class="fa fa-angle-right"></i>Bọc ghế massage</a>
                           </li>
                           <li>
                              <a href="/thay-tui-khi-ghe-massage" title="Thay-tui-hoi-ghe-massage"><i class="fa fa-angle-right"></i>Thay túi hơi ghế massage</a>
                           </li>
                           <li>
                              <a href="/thu-mua-ghe-massage-cu" title="Thu mua ghế massage cũ"><i class="fa fa-angle-right"></i>Thu mua ghế massage cũ</a>
                           </li>
                           <li>
                              <a href="/ban-ghe-massage-cu" title="Bán ghế massage cũ"><i class="fa fa-angle-right"></i>Bán ghế massage cũ</a>
                           </li>
                         </ul>
                       </li>

                       <li>
                         <a href="https://www.facebook.com/Suaghemassage247-858869800925916/" title="Trung tâm sửa ghế massage" class="icon-facebook" target="_blank"><i class="fa fa-facebook"></i> Trung tâm sửa ghế massage</a> |
                         <a href="https://www.messenger.com/t/1385673044825016" title="" class="icon-facebook" target="_blank"><i class="fa fa-comment"></i> Nhắn tin</a>
                       </li>
                    </ul>
                </div>
                <div class="location-centre">
                  <div>Trung tâm sửa ghế massage miền Bắc </div>
                  <i class="fa fa-map-marker-alt"></i> Địa chỉ : số 221 Tôn Đức Thắng, Đống Đa, Hà Nội
                </div>
            </nav>

  </div>
</header>
<aside class="homenews-mb">
  <figure>
      <h2>
        <a href="/">Hot</a>
      </h2>
      <a href="/<%=poststuvan.post[0].titleseo%>" class="liveevent-newsmb" target="_blank">
          <span id="dot">
              <span class="ping"></span>
          </span>
          <span class="text">
              <%=poststuvan.post[0].title%>
          </span>
      </a>
  </figure>

</aside>
<aside class="contact-mb">
  <div class="zalo">
    <a href="http://zalo.me/0989890248" title="" class="icon-facebook" target="_blank"> Zalo: 0989890248 <img src="/assest/image/zalo.png"></a>
  </div>
  <div class="facebook">
    <a href="https://www.messenger.com/t/1385673044825016" title="" class="icon-facebook" target="_blank"> iMessenger: <img src="/assest/image/imessenger.png"></a>
  </div>
</aside>
