<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thêm NSX</title>
  </head>
  <body>
    <form method="post" action="/nsx/nsx-create" >
      <input type="text" name="name" placeholder="Tên NSX"/>
      <input type="submit" value ="Thêm">
    </form>
  </body>
</html>
