<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thêm Post mới</title>
  </head>
  <body>
    <form method="post" action="posts-create" enctype="multipart/form-data">
      <div class="form-group">
        <label>Title H1</label>
        <input type="text" name="title" placeholder="Nhập title" autocomplete="off" class="form-control">
      </div>
      <div class="form-group">
        <label>Title seo</label>
          <input type="text" name="titleseo" placeholder="Nhập titleseo" autocomplete="off" class="form-control">
      </div>
      <div class="form-group">
        <label>Mô tả ngắn</label>
        <textarea id="shortdescription"  name="shortdescription" placeholder="Nhập mô tả ngắn" autocomplete="off" class="form-control">mô tả ngắn</textarea>
      </div>
      <div class="form-group">
        <label>Mô tả dài (bài viết)</label>
        <textarea id="description"  name="description" placeholder="Nhập mô tả " autocomplete="off" class="form-control">mô tả</textarea>
      </div>
      <div class="form-group">
        <label>Ngày đăng bài</label>
        <input type="datetime-local" name="day" placeholder="Nhập Ngày đăng bài" autocomplete="off" class="form-control">
      </div>
      <div class="form-group">
        <label>Og-title</label>
        <input type="text" name="ogtitle" placeholder="Nhập og-title" autocomplete="off" class="form-control">
      </div>
      <div class="form-group">
        <label>Og-description</label>
        <input type="text" name="ogdescription" placeholder="Nhập og-description" autocomplete="off" class="form-control">
      </div>
      <div class="form-group">
        <label>keywords</label>
        <input type="text" name="keywords" placeholder="Nhập từ khóa" autocomplete="off" class="form-control">
      </div>


      <div class="form-group">
        <label>Chọn loại bài viết</label>
        <select name="typepost">
          <option value="" selected disabled hidden>chọn loại bài viết</option>
          <%for(var i=0; i<typeposts.count;i++){%>
          <option value="<%=typeposts.typepost[i].name%>"><%=typeposts.typepost[i].name%></option>
          <%}%>
        </select>
      </div>
      <div class="form-group">
        <label>Hình ảnh</label>
        <input type="file" name="image" placeholder="Import Hình Ảnh" autocomplete="off" class="form-control">
      </div>
      <div class="form-group">
        <label>Thứ tự</label>
        <input type="number" name="index" placeholder="Nhập thứ tự" autocomplete="off" class="form-control">
      </div>
      <input type="submit" value ="Thêm">
    </form>
  </body>
</html>
