<footer class="footer">
  <div class="footer-main">
    <div class="wapper-footer">

            <!-- lien he -->
            <div class="footer-1">

              <p class="title">TTBH GHẾ MASSAGE MIỀN BẮC</p>
              <a href="" title="" class="dia-chi">
                  <i class="fa fa-home" aria-hidden="true"></i>Địa chỉ:
                <span>số 221 Tôn Đức Thắng, Hà Nội.</span>
              </a>
              <a href="tel:0989890248" title="" class="">
                  <i class="fa fa-phone" aria-hidden="true"></i>Hotline:
                <span>09.89.89.0248</span>
              </a>
              <a href="" title="" class="email">
                  <i class="fa fa-envelope" aria-hidden="true"></i>Email:
                <span>ghemassagecentre@gmail.com</span>
              </a>
              <a href="" title="" class="website">
                  <i class="fa fa-chrome" aria-hidden="true"></i>Website
                <span>suaghematxa.com</span>
              </a>

            </div>
            <!-- chinh sach -->
            <div class="footer-2">
                    <div class="chinh-sach">
                        <p class="title">chính sách công ty</p>

                        <a href="" title="CHÍNH SÁCH GIAO HÀNG "><i class="fa fa-caret-right" aria-hidden="true"></i>CHÍNH SÁCH GIAO HÀNG </a>

                        <a href="" title="CHÍNH SÁCH THANH TOÁN"><i class="fa fa-caret-right" aria-hidden="true"></i>CHÍNH SÁCH THANH TOÁN</a>

                        <a href="" title="CHÍNH SÁCH BẢO HÀNH"><i class="fa fa-caret-right" aria-hidden="true"></i>CHÍNH SÁCH BẢO HÀNH</a>
                   </div>
                    <b>TRUNG TÂM GHẾ MASSAGE MIỀN BẮC</b>
                    <a href="" target="_blank">
                        <img src="/assest/image/thongbao.png" alt="" style="height: 50px; width: auto; max-width: 100%; margin: 5px 0;">
                    </a>
            </div>
            <!-- chinh sach -->
            <div class="footer-3">
              <div class="fb-page" data-href="https://www.facebook.com/Suaghemassage247-858869800925916/" data-tabs="timeline" data-width="292" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>


                <!-- maps -->

            </div>

        <!-- end row -->
    </div>
  </div>
</footer>
