<footer class="footer">
  <div class="footer-main">
    <div class="wapper-footer">

            <!-- lien he -->
            <div class="footer-1">

              <p class="title">suaghemassage247.com</p>
              <a href="" title="" class="dia-chi">
                  <i class="fa fa-home" aria-hidden="true"></i>Địa chỉ:
                <span>số 221 Tôn Đức Thắng, Hà Nội.</span>
              </a>
              <a href="tel:0901 732 864" title="" class="">
                  <i class="fa fa-phone" aria-hidden="true"></i>Hotline:
                <span>09.89.89.0248</span>
              </a>
              <a href="" title="" class="email">
                  <i class="fa fa-envelope" aria-hidden="true"></i>Email:
                <span>suachuaghemassage247@gmail.com</span>
              </a>
              <a href="" title="" class="website">
                  <i class="fa fa-chrome" aria-hidden="true"></i>Website
                <span>www.suaghemassage247.com</span>
              </a>
              <div class="nhan-mail">
              <p>nhận bản tin từ chúng tôi</p>
              <form action="/nhanbantin/ban-tin-home" method="post">
              <input id="tbEmail" name="email" type="text" class="form-control" placeholder="nhập email để nhận bản tin" >
              <button type="submit"><img src="/assest/image/gmail.png" alt="send"></button>

            </form>
            </div>
            </div>
            <!-- chinh sach -->
            <div class="footer-2">
                    <div class="chinh-sach">
                        <p class="title">chính sách công ty</p>

                        <a href="" title="CHÍNH SÁCH GIAO HÀNG "><i class="fa fa-caret-right" aria-hidden="true"></i>CHÍNH SÁCH GIAO HÀNG </a>

                        <a href="" title="CHÍNH SÁCH THANH TOÁN"><i class="fa fa-caret-right" aria-hidden="true"></i>CHÍNH SÁCH THANH TOÁN</a>

                        <a href="" title="CHÍNH SÁCH ĐỔI HÀNG"><i class="fa fa-caret-right" aria-hidden="true"></i>CHÍNH SÁCH ĐỔI HÀNG</a>

                        <a href="" title="CHÍNH SÁCH BẢO HÀNH"><i class="fa fa-caret-right" aria-hidden="true"></i>CHÍNH SÁCH BẢO HÀNH</a>
                   </div>
                    <b>Giá Gốc Giá Sốc</b>
                    <a href="" target="_blank">
                        <img src="/assest/image/thongbao.png" alt="" style="height: 50px; width: auto; max-width: 100%; margin: 5px 0;">
                    </a>
            </div>
            <!-- chinh sach -->
            <div class="footer-3">
        <div class="fb-page" data-href="https://www.facebook.com/Giagocgiasoc-113877856978393" data-tabs="timeline" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Suaghemassage247-858869800925916/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Giagocgiasoc-113877856978393">facebook:giagocgiasoc</a></blockquote></div>

                <!-- maps -->
                <div class="maps-an">
                    <a href="javascript://" title="view google maps" onclick="showMapPopup();">
                        <img src="/assest/image/google-maps.png" alt="">
                    </a>
                </div>
            </div>

        <!-- end row -->
    </div>
  </div>
</footer>
