<div class="sidebar-admin">
  <ul class="list-item">
    <li>Quản trị user
      <ul>
        <li><a href="/user"><i class="fa fa-angle-right" aria-hidden="true"></i>Quản lý user</a></li>
      </ul>
    </li>
    
    <li>Máy Tính
      <ul>
        <li><a href="/phanloai"><i class="fa fa-angle-right" aria-hidden="true"></i>Phân Loại</a></li>
          <li><a href="/danhmuc"><i class="fa fa-angle-right" aria-hidden="true"></i>Danh mục</a></li>
        <li><a href="/laptop"><i class="fa fa-angle-right" aria-hidden="true"></i>Laptop</a></li>
        <li><a href="/nsxlaptop"><i class="fa fa-angle-right" aria-hidden="true"></i>NSX Laptop</a></li>
        <li><a href="/nhucau"><i class="fa fa-angle-right" aria-hidden="true"></i>Nhu Cầu</a></li>
        <li><a href="/posts"><i class="fa fa-angle-right" aria-hidden="true"></i>Tin tức</a></li>
          <li><a href="/typepost"><i class="fa fa-angle-right" aria-hidden="true"></i>Loại Tin tức</a></li>
        <li><a href="/desktop"><i class="fa fa-angle-right" aria-hidden="true"></i>Desktop</a></li>
        <li><a href="/phukien"><i class="fa fa-angle-right" aria-hidden="true"></i>Phụ Kiện</a></li>
      </ul>
    </li>
    <li>Camera
      <ul>
        <li><a href="/laptop"><i class="fa fa-angle-right" aria-hidden="true"></i>Camera Gia Đình</a></li>
        <li><a href="/nsxlaptop"><i class="fa fa-angle-right" aria-hidden="true"></i>Camera Wifi</a></li>
        <li><a href="/posts"><i class="fa fa-angle-right" aria-hidden="true"></i>Camera IP</a></li>
        <li><a href="/desktop"><i class="fa fa-angle-right" aria-hidden="true"></i>Camera Analog</a></li>
      </ul>
    </li>

  </ul>
</div>
