<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li> <%=order.quantity%> </li>
      <li> <%=order.ghemassage.name%> </li>

    </ul>
    <a href="/order/edit/<%=order._id%>"><button id="sua">Edit</button></a>

  </body>
</html>
