<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/phanloai/edit/<%=phanloai._id%>" >
      <div class="form-group">
        <label>Tên phanloai</label>
        <input type="text" name="name" placeholder="Nhập tên phân loại" value="<%=phanloai.name%>"  class="form-control">
      </div>

      <input type="submit" value ="Update">
    </form>
  </body>
</html>
