<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>

        <li> <%=typepost.name%> </li>

    </ul>
    <a href="/typepost/edit/<%=typepost._id%>"><button id="sua">Edit</button></a>

  </body>
</html>
