<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thêm loại bài viết</title>
  </head>
  <body>
    <form method="post" action="/typepost/typepost-create" >
      <input type="text" name="name" placeholder="Tên loại"/>
      <input type="submit" value ="Thêm">
    </form>
  </body>
</html>
