.owl-theme .owl-controls{margin-top:0px;text-align:center;}
.owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;zoom:1;margin:5px;padding:10px 15px;font-size:50px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:50%;filter:Alpha(Opacity=50);}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none;}
.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline;}
.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:0.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#869791;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1;}
.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.owl-item.loading{min-height:150px;background:url(AjaxLoader.gif) no-repeat center center}
#sync1 .item{margin:3px;color:#FFF;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center;}
#sync2 .item{color:#333;text-align:center;cursor:pointer;}
#sync2 .item h1{font-size:18px;}
#sync2 .synced .item{color:#f53d2d;border-bottom:3px solid #f53d2d;}
.owl-prev,.owl-next{position:absolute;top:30%;}
.owl-prev{left:0;}
.owl-next{right:0}
