<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>

        <li> <%=user.username%> </li>
        <li> <%=user.password%> </li>

    </ul>
    <a href="/user/edit/<%=user._id%>"><button id="sua">Edit</button></a>

  </body>
</html>
