<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thêm slide</title>
  </head>
  <body>
    <form method="post" action="/slide/slidehome-create" enctype="multipart/form-data">
      <input type="file" name="image" placeholder="Import Hình Ảnh" autocomplete="off">
      <input type="text" name="title" placeholder="Nhập title" autocomplete="off">
      <input type="text" name="index" >
      <input type="submit" value ="Thêm">
    </form>
  </body>
</html>
