

    <form method="post" action="/orders/edit/<%=order._id%>" enctype="application/x-www-form-urlencoded">
      <select name="cameraId" >Chọn tên loại ghế


          <option value="<%=order.camera._id%>"><%=order.camera.name%></option>


      </select>
      <input type="text" name="quantity" placeholder="Nhập số lượng" value='<%=order.quantity%>' >


      <input type="submit" value ="Cập nhật">
    </form>
