<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sửa ghế massage miền Bắc, sửa nhanh, tận nhà, giá rẻ gọi 09.89.89.0248</title>
  <meta name="keywords" content="sửa ghế massage, Thay da ghế massage, Bọc ghế massage, mua bán ghế massage, thanh lý ghế massage, thu mua ghế massage cũ, bảo hành 12 tháng chính hãng, bảo trì trọn đời">
  <meta name="description" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta name="google-site-verification" content="VtM6Uw9LnNnDf_HZarua14_LKNyOgSErbbpQZ4NyVEk" />
  <meta content="INDEX,FOLLOW" name="robots">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="revisit-after" content="1 days">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:image" content="https://www.ghemassageservice.com/facebook.png" />
  <meta property="og:site_name" content="suaghematxa.com">
  <meta property="og:type" content="website">
  <meta property="fb:admins" content="858869800925916" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <!-- Google Tag Manager -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"8DhJq1SZw320l9", domain:"ghemassageservice.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=8DhJq1SZw320l9" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0" nonce="sXylZyRG"></script>
  </head>
  <body>

<%- include('../partials/header-admin') %>
    <div class="container-fluid bg-backend">
      <div class="row">
          <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
            <%- include('../partials/sidebar-admin') %>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
              <%- body %>
          </div>
      </div>
    </div>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="/assest/js/bundle.js"></script>
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <script src="/assest/js/owl.carousel.min.js"></script>

  </body>

</html>
